# .NET
bin/
obj/
out/

# Тести
test-results/

# Публікація
publish/

# Логи
*.log

# Системи керування конфігурацією
.vs/
.idea/
.vscode/

# Системи управління залежностями
packages/

# Публікація API
swagger/

# Зберігання API ключів та секретів
appsettings.json
secrets.json

# Файли середовища
.env

# Продуктивні та тимчасові файли
*.bak
*.swp

# Ігнорувати файли Visual Studio Code
.vscode/

# Файли користувацьких налаштувань
.idea/

# Безпека, ключі, сертифікати
*.pfx
*.pem

# Результати компіляції в редакторі
.vs2019/
.vs2017/

# Додаткові файли
*.user
*.suo
